/*ABOUT PAGE*/

.about {
  height: auto;
  width: 100%;
  position: relative;
}

.about__img {
  background-image: url(/images/kasa-banner-a-propos.png);
  background-position: center;
  background-size: cover;
  height: 223px;
  border-radius: 20px;
  margin: 30px 150px;
  @include display-flex-center;
  padding: 0 50px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.699);

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin: 30px 100px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 20px;
    height: 223px;
    margin: 10px 20px;
    padding: 0;
    border-radius: 10px;
  }
}
