/*MIXINS & VARIABLES*/

$primary-color: #ff6060;
$typographie: "Montserrat", sans-serif;

@mixin display-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
