@import "./components/styles/navbar_footer";
@import "./components/styles/header";
@import "./components/styles/card";
@import "./components/styles/mixins_variables";
@import "./pages/error";

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: $typographie;
  box-sizing: border-box;
}

/*******************************************************/

/*ABOUT PAGE*/

.about {
  height: 100vh;
  width: 100%;
  position: relative;
}

.about > .footer {
  margin-top: 110px;
}

.about__img {
  background-image: url(../src/images/kasa-banner-a-propos.png);
  background-position: center;
  background-size: cover;
  height: 223px;
  border-radius: 20px;
  margin: 30px 150px;
  @include display-flex-center;
  padding: 0 50px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.699);

  @media screen and (max-width: 768px) {
    margin-top: 20px;
    height: 223px;
    margin: 10px 20px;
    padding: 0;
    border-radius: 10px;
  }
}

/*ACCORDION*/

.about__bloc {
  margin: 100px 0 0 0;
}
.accordion {
  margin: 20px 150px;

  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    width: 70%;
    padding: 0 10px;
  }
  &__content {
    padding: 0 10px;
    background-color: lightseagreen;
    width: 70%;
    height: auto;
    opacity: 1;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
  }
  &__content__hide {
    background-color: lightseagreen;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
  }
}
