@import "./components/styles/navbar_footer";
@import "./components/styles/header";
@import "./components/styles/card";
@import "./components/styles/mixins_variables";
@import "./pages/styles/error";
@import "./pages/styles/about";
@import "./components/styles/carousel";

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: $typographie;
  box-sizing: border-box;
}

/*ACCORDION - COLLAPSE*/

.accordion {
  margin: 20px 150px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin: 20px 100px;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 20px 0;
  }

  &__title {
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    width: 90%;
    padding: 5px 10px;
    border-radius: 5px 5px 3px 3px;

    @media screen and (max-width: 768px) {
      width: 85%;
    }
  }
  &__title h4 {
    margin: 0;
  }
  &__title img {
    width: 22px;
  }
  &__content {
    padding: 0 10px;
    color: $primary-color;
    background-color: #f6f6f6;
    width: 90%;
    height: auto;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      width: 85%;
    }
  }
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*PAGE ANNONCE LOGEMENTS*/

.annonce {
  color: $primary-color;

  &__split {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    margin: 50px 150px;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      margin: 0 100px 20px 100px;
    }

    @media screen and (max-width: 768px) {
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      margin: 0;
    }
  }
  &__title {
    @media screen and (max-width: 768px) {
      margin: 0 20px;
    }
  }
  &__title h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 10px 0;

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }
  }
  &__title h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;

    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
  &__tags {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      margin-top: 30px;
    }

    @media screen and (max-width: 768px) {
      gap: 10px;
    }
  }
  &__tags p {
    background-color: $primary-color;
    color: white;
    width: auto;
    text-align: center;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      font-size: 10px;
    }
  }
  &__owner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px 20px 20px;
      padding: 10px 0;
      width: 90%;
    }
  }
  &__owner p {
    width: 80px;
    margin: 0 0 0 30px;
    text-align: right;
    font-size: 18px;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      margin: 0;
      width: 50px;
      font-size: 12px;
    }
  }
  &__owner__p1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;

    @media screen and (max-width: 768px) {
      margin: 0;
      width: auto;
      justify-content: center;
      align-items: center;
    }
  }
  &__owner__pic {
    border-radius: 50%;
    width: 64px;
    height: 64px;

    @media screen and (max-width: 768px) {
      width: 40px;
      height: 40px;
      margin-left: 15px;
    }
  }
  &__owner__rating {
    width: 196px;
  }
  &__owner__rating i {
    font-size: 25px;
    margin-left: 10px;

    @media screen and (max-width: 768px) {
      font-size: 15px;
      margin: 0 10px 0 0;
    }
  }
  &__owner__rating .selectedRate {
    color: #e3e3e3;
  }
  &__accordion {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px auto;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      flex-direction: column;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      flex-direction: column;
    }
  }
}

.custom-collapse-1 {
  width: 90%;
  margin: 0 0 0 45px;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 90%;
    margin: 10px auto;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 10px auto;
  }
}
.custom-collapse-2 {
  width: 90%;
  margin: 0 45px 0 0;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 90%;
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0 auto;
  }
}
