body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

/*MIXINS & VARIABLES*/

$primary-color: #ff6060;
$typographie: "Montserrat", sans-serif;

@mixin display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NAVBAR */

.navbar {
  padding: 30px 50px;
  @include display-flex;
  background-color: green;

  &__logo img {
    width: 150px;
  }
  &__links a {
    text-decoration: none;
    color: $primary-color;
    font-family: $typographie;
    font-size: 20px;
    cursor: pointer;
  }
  &__links__apropos {
    margin-left: 80px;
  }
  &__links__apropos:hover {
    text-decoration: underline;
  }
  &__links__accueil:hover {
    text-decoration: underline;
  }
}

/* HEADER */

.header {
  padding: 20px 50px;
  background-color: burlywood;

  &__bloc {
    position: relative;
  }

  &__img {
    width: 100%;
    height: 223px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 1px 2px 2px 1px rgba(14, 14, 14, 0.678);
  }
  &__title {
    position: absolute;
    top: 60px;
    right: 31%;
    color: white;
    font-family: $typographie;
    font-weight: 300;
    font-size: 38px;
  }
}
